@model MyFace.Models.View.UsersViewModel

@{
    Layout = "_Layout";
}
<section class="users__menu">
    <h1 class="title">MyFace Users</h1>
    <button class="menuBtn --growButton" onclick="window.location.href='users/create'">NEW USER</button>
</section>

<article class="users__container">
    @foreach (var user in Model.Users)
    {
        <div class="user__container">
        <img src="@user.ProfileImageUrl" alt="@user.Username profile image"/>
        <h2>@user.FirstName @user.LastName</h2>
        <p>@user.DisplayName</p>
        <p>@user.Email</p>
        <button class="user__goBtn" type="button" onclick="window.location.href='users/@user.Id'">View User</button>
        </div>
    }
</article>